.about {
  padding-top: 54px;
  padding-bottom: 44px;

  section:first-of-type {
    margin-top: calc(0.5rem + 10vmin);
  }

  #blog-operations {
    display: none;
  }

  header {
    max-width: 900px;

    // h1 {
    //   text-align: left;
    // }
  }
}

// #admin {
//   .box {
//     display: inline-block;

//     .content-container {
//       width: 100%;
//     }
//   }
// }
