.about {
  padding-top: 54px;

  @media (min-width: 600px) {
    padding-top: 84px;
  }

  #blog-operations {
    display: none;
  }

  header {
    max-width: 900px;

    // h1 {
    //   text-align: left;
    // }
  }
}

// #admin {
//   .box {
//     display: inline-block;

//     .content-container {
//       width: 100%;
//     }
//   }
// }
