$dark-blue: #00418c;
$light-blue: #d9ebff;
$hi-blue: #67aeff;

$dark-grey: #2b2b2b;
$light-grey: #4d4d4d;

$dark-purple: #472247;
$light-purple: #d8d4f2;

$off-white: #dfdfdf;

.home {
  #landing-page {
    background: rgb(0,54,115);
    background: linear-gradient(142deg, rgba(0,54,115,1) 35%, rgba(0,118,222,1) 100%);
    box-sizing: border-box;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 54px 0 0 0;
    position: relative;
    width: 100%;

    h1 {
      font-size: 8vmin;
      letter-spacing: 2.8px;
      line-height: 56px;
      margin-top: calc(20px + 4vh);
      margin-bottom: 0;
      padding-left: 68px;
      text-align: left;
    }

    h4 {
      bottom: 4vh;
      padding-left: 68px;
      position: absolute;
      text-align: left;
    }

    div {
      text-align: center;
    }
  }

  .title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
  }

  .logo-home {
    text-align: left;
    margin-top: calc(28px + 4vh);
    width: calc(200px + 8vh);
  }

  .arrow {
    width: 30px;
  }

  .small-img {
    width: 50%;
    margin-top: 20%;
  }

  #arrow-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  #arrow-left-enabled, #arrow-right-enabled {
    &:hover {
      cursor: pointer;
    }
  }

  #arrow-left-enabled, #arrow-left-disabled {
    margin-left: 16px;
    left: 0;
  }

  #arrow-right-enabled, #arrow-right-disabled {
    margin-right: 16px;
    right: 0;
  }
}

#contact {
  padding-bottom: 0;
  height: auto;

  #contact-desc {
    height: 90px;
  }

  .logo-contact {
    display: none;
  }

  h4 {
    margin-bottom: .5rem;
  }
}

@media (min-width: 1px) {
  .home {
    #ingredients {
      .img-container {
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  .home {
    #landing-page {
      padding-top: 82px;
      padding-left: 0;

      h1 {
        font-size: 48px;
        letter-spacing: 2.8px;
        line-height: 68px;
        padding-left: 112px;
        text-align: left;
      }

      h4 {
        font-size: 24px;
        margin-top: calc(30px + 10vh);
        padding-left: 112px;
      }

      .title {
        text-align: center;
        font-size: 84px;
        line-height: 120px;
      }

      .logo-home {
        width: 360px;
        margin-top: calc(20px + 8vh);
        margin-bottom: 60px;
      }
    }
  }

  #contact {
    form {
      label {
        margin-bottom: 20px;
      }

      button {
        font-size: 1.2rem;
        height: 44px;
        width: 98px;
      }
    }

    .img-container {
      padding-top: 30px;
    }

    .logo-contact {
      display: block;
      margin: 50px auto 0 auto;
      opacity: .8;
      width: 120px;
    }
  }
}

@media (min-width: 1080px) {
  .about {
    section {
      margin-top: 70px;
    }
  }

  .home {
    #landing-page {
      width: 100%;
      max-width: 100vw;
      margin-bottom: 50px;
      text-align: left;

      h1 {
        display: inline-block;
        padding-left: 156px;
        font-size: 3.4rem;
        line-height: 5.2rem;
      }

      h4 {
        padding-left: 156px;
      }

      .title {
        font-size: 6.8rem;
        line-height: 9rem;
      }

      .logo-home {
        margin: 0;
        position: absolute;
        bottom: 14vh;
        right: 15vw;
        width: 30vw;
      }
    }

    #contact {
      margin-bottom: 50px;
    }

    #contact, #ingredients {
      .content-container {
        padding-top: 10px;
        padding-bottom: 30px;
      }
    }

    #arrow-left-enabled, #arrow-left-disabled {
      margin-left: 10px;
      padding: 20px;
    }

    #arrow-right-enabled, #arrow-right-disabled {
      margin-right: 10px;
      padding: 20px;
    }
  }
}