$dark-blue: #00418c;
$light-blue: #d9ebff;
$hi-blue: #67aeff;

$dark-grey: #2b2b2b;
$light-grey: #4d4d4d;

$dark-purple: #472247;
$light-purple: #d8d4f2;

$off-white: #dfdfdf;

$max-content-width: 1440px;

.home {
  #landing-page-content {
    max-width: $max-content-width;
  }

  #landing-page {
    background: rgb(0,54,115);
    background: linear-gradient(142deg, rgba(0,54,115,1) 35%, rgba(0,118,222,1) 100%);
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 54px 0 0 0;
    position: relative;

    h1 {
      font-size: 10vmin;
      font-weight: 200;
      margin-top: calc(20px + 2vh);
      margin-bottom: 0;
      text-align: left;
    }

    h4 {
      margin-bottom: 4vh;
      // position: absolute;
      text-align: left;
    }

    #landing-page-image-container {
      text-align: center;
    }

    .title {
      color: #ffffff;
      font-size: 14vmin;
    }

    .logo-home {
      // margin-top: calc(8px + 10vh);
      max-width: 340px;
      width: calc(80px + 18vh);
    }
  }

  section {
    margin-bottom: calc(0.5rem + 10vmin);
  }

  .arrow {
    width: 30px;
  }

  .small-img {
    width: 50%;
    margin-top: 20%;
  }

  #arrow-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  #arrow-left-enabled, #arrow-right-enabled {
    &:hover {
      cursor: pointer;
    }
  }

  #arrow-left-enabled, #arrow-left-disabled {
    margin-left: 16px;
    left: 0;
  }

  #arrow-right-enabled, #arrow-right-disabled {
    margin-right: 16px;
    right: 0;
  }
}

#contact {
  padding-bottom: 0;
  height: auto;

  #contact-desc {
    height: 90px;
  }

  .logo-contact {
    display: none;
  }

  h4 {
    margin-bottom: .5rem;
  }
}

@media (min-width: 1px) {
  .home {
    #ingredients {
      .img-container {
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  .home {
    #landing-page {
      padding-top: 82px;
      padding-left: 0;

      h1 {
        font-size: 50px;
        letter-spacing: 2.8px;
        line-height: 80px;
        text-align: left;
      }

      h4 {
        font-size: 24px;
        // margin-top: calc(30px + 10vh);
      }

      .title {
        text-align: center;
        font-size: 84px;
        line-height: 94px;
      }

      .logo-home {
        //width: calc(150px + 10vh);
        // margin-top: calc(12vh);
        //margin-bottom: 60px;
        max-width: 300px;
      }
    }
  }

  #contact {
    .img-container {
      padding-top: 30px;
    }

    .logo-contact {
      display: block;
      margin: 50px auto 0 auto;
      opacity: .8;
      width: 120px;
    }
  }
}

@media (min-width: 1080px) {
  .about {
    section {
      margin-top: 70px;
    }
  }

  .home {
    #landing-page {
      h1 {
        font-size: 65px;
        line-height: 90px;

        .title {
          font-size: 1.4em;
          line-height: 100px;
        }
      }

      h4 {
        font-size: 30px;
      }

      .logo-home {
        margin: 0;
        position: relative;
        left: 10vw;
        bottom: 10vh;
        max-width: 500px;
        width: 40vh;
      }
    }

    #contact {
      margin-bottom: 50px;
    }

    #contact, #ingredients {
      .content-container {
        padding-top: 10px;
        padding-bottom: 30px;
      }
    }

    #arrow-left-enabled, #arrow-left-disabled {
      margin-left: 10px;
      padding: 20px;
    }

    #arrow-right-enabled, #arrow-right-disabled {
      margin-right: 10px;
      padding: 20px;
    }
  }
}

@media (min-width: 1440px) {
  .home {
    #landing-page {
      h1 {
        font-size: 80px;
        line-height: 100px;

        .title {
          font-size: 1.4em;
          line-height: 140px;
        }
      }

      h4 {
        font-size: 35px;
      }
    }
  }
}