@import "reset.scss";

// $dark-blue: #00418c;
$dark-blue: #00408a;
$light-blue: #d9ebff;
$hi-blue: #67aeff;

$dark-grey: #2b2b2b;
$light-grey: #4d4d4d;

$dark-purple: #472247;
$light-purple: #d8d4f2;

$off-white: #dfdfdf;
$invalid-red: #e65e63;
$success-green: #c2ffd0;

body {
  background-color: $dark-blue;
  color: $off-white;
  // font-size: 16px;
  // font-family: 'Barlow', Arial,  sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  position: relative;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: calc(100vh - 50px);
  // max-width: 1260px;
}

// article {
//   max-width: 900px;
// }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}


h3 {
  margin-bottom: 18px;
}

p, ol {
  margin: 0 0 18px 0;
  text-align: left;
}

a {
  color: $hi-blue;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

form {
  label {
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
    width: 100%;
  }

  h4 {
    // margin-bottom: 8px;
    text-align: left;
  }

  textarea {
    resize: none;
  }

  input, textarea {
    background-color: $dark-grey;
    border: 1px solid $light-grey;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    font-size: .8em;
    font-family: 'Source Sans Pro', sans-serif;
    // height: 40px;
    // margin-top: 14px;
    padding: 6px 12px;
    transition: border-color 2s;
    width: 100%;
  }

  button {
    background: none;
    border-radius: 0;
    border: 2px solid $hi-blue;
    color: $hi-blue;
    display: block;
    height: 30px;
    margin: .5em auto 0 auto;
    width: 80px;

    &:hover {
      color: $off-white;
      border-color: $off-white;
    }
  }

  .input-message {
    font-size: 16px;
  }

  input + .input-message {
    color: $invalid-red;
    position: absolute;
    bottom: -28px;
    left: 12px;
  }

  textarea + .input-message {
    color: $invalid-red;
    position: absolute;
    bottom: -24px;
    left: 12px;
  }

  .error {
    border-color: $invalid-red;
    box-shadow: none;
  }

  .success {
    border-color: $success-green;
  }
}

header {
  background: none;
  position: relative;

  h2 {
    font-size: calc(0.5rem + 8vmin);
    font-weight: 200;
    line-height: calc(0.5rem + 6vmin);
    margin: calc(0.5rem + 10vmin) 0 4vmin 0;
    text-align: left;
  }

  a {
    margin: 0 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.subsection-header {
  text-align: center;

  .header-icon {
    width: 38px;
  }

  h3 {
    margin-top: 10px
  }
}

.topper {
  background-color: $dark-purple;
  background: linear-gradient(110deg, rgba(93,43,93,1) 70%, rgba(71,34,71,1) 70%);
  // background: linear-gradient(270deg, rgba(71,34,71,1) 35%, rgba(93,43,93,1) 100%);
  box-sizing: border-box;
  height: 6vh;
  padding: 14px 20px 0 0;

  img {
    float: right;
    width: 24px;
  }

  &:first-of-type {
    border-radius: 0 calc(8px + 1vh) 0 0;
  }
}

.fas {
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 4px;
}

.hidden {
  display: none;
}

.light {
  color: #7cc0ff;
}

// .shadow {
//   -webkit-box-shadow: 8px 8px 28px -10px rgba(0,0,0,0.58);
//   -moz-box-shadow: 8px 8px 28px -10px rgba(0,0,0,0.58);
//   box-shadow: 8px 8px 28px -10px rgba(0,0,0,0.58);
// }

nav {
  background: linear-gradient(90deg, #0057ba 50%, #0076de 100%);
  border-radius: 0 0 calc(2px + 1vh) 0;
  box-sizing: border-box;
  color: $light-blue;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 0;
  letter-spacing: 2.8px;
  height: 54px;
  margin: 0 auto;
  padding: 10px 12px;
  width: 100%;
  z-index: 2;

  .logo-nav {
    width: 46px;
  }

  .nav-btn {
    margin-left: auto;
    width: 24px;
    z-index: 3;

    &:hover {
      cursor: pointer;
    }
  }

  h1, li {
    color: white;
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: top;
  }

  h1 {
    font-weight: 600;
    margin-left: 12px;
  }

  #large-display {
    display: none;
    list-style: none;

    li {
      font-family: 'Josefin Slab', serif;
      font-weight: 600;
    }
  }

  #nav-overlay {
    display: none;
    background: $dark-blue;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .94;
    width: 100vw;
    z-index: 2;

    header {
      height: 64px;
      margin-bottom: 4vh;
      padding: 10px 16px;
      text-align: right;
    }

    ul {
      padding-right: 50px;
    }

    li {
      display: block;
      margin-bottom: calc(20px + 2vw);
      font-size: calc(20px + 2vw);
      padding: 2vw;
      text-align: right;

      &:hover {
        color: white;
      }
    }
  }
}

footer {
  background-color: #484447;
  box-sizing: border-box;
  color: #808080;
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  max-width: 1260px;
  padding: 4px 16px;
  text-align: left;
  width: 100%;

  img {
    opacity: .5;
    width: 40px;
  }

  h1 {
    color: #808080;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1em;
    margin-left: 12px;
  }

  p {
    display: inline-block;
    font-size: 10px;
  }
}

section, article {
  border-radius: 0 20px 0 0;
  box-sizing: border-box;
  margin: 18px 8px 3rem 8px;

  // .box {
  //   -webkit-box-shadow: 12px 12px 38px -15px rgba(0,0,0,0.58);
  //   -moz-box-shadow: 12px 12px 38px -15px rgba(0,0,0,0.58);
  //   box-shadow: 12px 12px 38px -15px rgba(0,0,0,0.58);
  // }

  .meta-content-container  {
    background-color: $dark-grey;
  }

  .content-container {
    align-self: flex-start;
    box-sizing: border-box;
    padding: 12px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .img-container {
    padding: 12px;

    img {
      max-width: 100%;
    }
  }

  .quote-container {
    display: none;
  }
}

@media (min-width: 1px) and (max-width: 599px) {
  main {
    margin: 0 auto;
  }

  header {
    padding-left: 12px;
  }

  .topper {
    height: 6vh;
  }
}

@media (min-width: 600px) {
  section {
    margin-left: 12px;
    margin-right: 12px;
  }

  header {
    padding-left: 12px;
  }

  nav {
    height: 82px;
    padding-left: 24px;
    padding-right: 24px;

    .logo-nav {
      // margin-top: 6px;
      width: 68px;
    }

    .nav-btn {
      // padding-top: 5px;
      width: 36px;
    }

    h1 {
      font-size: 20px;
      margin-left: 20px;
    }

    #nav-overlay {
      header {
        height: 72px;
        padding: 10px 36px;
      }

      ul {
        padding: 0 104px;
      }
    }
  }

  footer {
    height: 60px;
    padding-left: 44px;
    padding-right: 44px;

    img {
      margin: 4px 0;
      width: 60px;
    }

    h1 {
      font-size: 16px;
      margin: 14px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 800px) {
  main {
    min-height: calc(100vh - 60px);
  }

  h1 {
    font-size: 48px;
  }

  section, article {
    .heading-container {
      height: 10vh;
    }

    .content-container {
      padding: 16px;
    }

    .img-container {
      padding: 16px;
    }
  }

  nav {
    height: 82px;
    padding-left: 44px;
    padding-right: 44px;

    .logo-nav {
      // margin-top: 6px;
      width: 68px;
    }

    .nav-btn {
      // padding-top: 5px;
      width: 36px;
    }

    h1 {
      font-size: 20px;
      margin-left: 12px;
    }

    #nav-overlay {
      header {
        height: 72px;
        padding: 10px 36px;
      }

      ul {
        padding: 0 104px;
      }
    }
  }
}

@media (min-width: 1080px) {
  main {
    min-height: calc(100vh - 60px);
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  header {
    padding-left: 20px;
  }

  section, article {
    margin-left: 136px;
    margin-right: 136px;

    .content-container, .img-container {
      box-sizing: border-box;
      display: inline-block;
      font-size: calc(14px + 0.38vw);
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      vertical-align: top;
      width: 50%;
    }

    .content-container {
      padding-top: 30px;
    }

    .quote-container {
      box-sizing: border-box;
      display: inline-block;
      font-size: 84px;
      padding: 20px;
      width: 50%;
    }

    .meta-content-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  nav {
    padding-left: 156px;
    padding-right: 156px;
    height: 82px;
    width: 100%;

    .logo-nav {
      width: 68px;
    }

    .nav-btn {
      width: 36px;
    }

    #hamburger {
      display: none;
    }

    #large-display {
      display: block;
      list-style: none;
      margin-left: auto;
      margin-right: 20px;

      li {
        display: inline-block;
        margin-left: 4vw;
        padding: 10px;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }

    h1 {
      font-size: 20px;
      // margin-left: 44px;
      margin-left: 24px;
    }
  }

  footer {
    height: 82px;
    padding-left: 156px;
    max-width: 100vw;

    h1 {
      margin-left: 24px;
    }
  }
}

@import "responsive.scss";
@import "home.scss";
@import "blog.scss";
@import "about.scss";
