<header>
  <img src="/images/SVG/logo-cup.svg" class="logo-nav" alt="small mocha logo"> --}} --}}
  <a href="/" id="nav-title"><h1>Mocha Websites</h1></a>
</header>
{{!-- <img src="/images/SVG/logo-cup.svg" class="logo-nav" alt="small mocha logo">
<a href="/" id="nav-title"><h1>Mocha Websites</h1></a> --}}
<img src="/images/SVG/bars-solid.svg" id="hamburger" class="nav-btn" alt="open nav button">
<ul id="large-display">
  <a href="/" class="selected"><li>Home</li></a>
  <a href="/services"><li>Services</li></a>
  <a href="/about"><li>About Me</li></a>
  <a href="/#contact"><li>Contact</li></a>
  <a href="/blogs"><li>Blog</li></a>
</ul>
<div id="nav-overlay">
  <header>
    <img src="/images/SVG/close.svg" id="close-btn" class="nav-btn" alt="close button">
  </header>
  <ul>
    <a href="/"><li class="selected">Home</li></a>
    <a href="/services"><li>Services</li></a>
    <a href="/about"><li>About Me</li></a>
    <a href="/#contact"><li>Contact</li></a>
    <a href="/blogs"><li>Blog</li></a>
  </ul>
</div>
