<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Mocha Websites</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <script src="https://kit.fontawesome.com/489b9f4f3d.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/wgj2gav.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,600&display=swap" rel="stylesheet">
  {{!-- <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet"> --}}
  {{!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">  --}}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link href="prism/prism.css" rel="stylesheet" />
</head>
<body>
  {{> nav}}
  <main class="{{template}}">
    {{{body}}}
  </main>
  <footer>
    {{> footer}}
  </footer>
  <script src="prism/prism.js"></script>
  <script src="scripts/javascript.js"></script>
</body>
</html>
