<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Mocha Websites</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://use.typekit.net/wgj2gav.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i,300,400,700&display=swap" rel="stylesheet">
  <link rel="icon" href="/public/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link href="/prism/prism.css" rel="stylesheet" />
  <!-- ****** faviconit.com favicons ****** -->
{{!--   <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff"> --}}
  <!-- ****** faviconit.com favicons ****** -->
</head>
<body>
  <nav class="shadow">
    {{> nav}}
  </nav>
  <main class="{{template}}">
    {{{body}}}
  </main>
  <footer>
    {{> footer}}
  </footer>
  <script src="https://kit.fontawesome.com/489b9f4f3d.js"></script>
  <script src="/prism/prism.js"></script>
  <script src="/scripts/javascript.js"></script>
</body>
</html>
