<section>
  <div class="main-content-container">
    <header>
      <h1>Blog Index</h1>
      {{!-- <h5 class="date">Sort By:</h5> --}}
    </header>
    <div class="box">
      <div class="topper"></div>
      <div class="meta-content-container">
        <div class="content-container">
          <div id="tags" class="hidden">
            <h4 class="tag">Basic Web</h4>
            <h4 class="tag">JavaScript</h4>
            <h4 class="tag">Front End</h4>
            <h4 class="tag">Personal</h4>
          </div>
          <div class="subsection-header">
            <img src="images/SVG/logo-border-thick.svg" class="header-icon">
            <h3>Welcome</h3>
          </div>
          <div class="blog-list">
            {{!-- <h4>Basic Web</h4> --}}
            <ul>
              {{#each blogs}}
              <a href="/blogs/{{_id}}"><li>{{title}}</li></a>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- <aside class="sidebar">
  <ul>
    <h3>Sort By:</h3>
      <a href="#"><li>Newest</li></a>
      <a href="#"><li>Genre</li></a>
      <a href="#"><li>Oldest</li></a>
  </ul>
</aside> --}}

