:link, :visited {
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img {
  border: none; }

address {
  font-style: normal; }

body {
  background-color: #00408a;
  color: #dfdfdf;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  position: relative; }

main {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: calc(100vh - 50px); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  color: #dfdfdf; }

h3 {
  margin-bottom: 18px; }

p, ol {
  margin-top: 18px;
  text-align: left; }

a {
  color: #67aeff; }
  a:hover {
    color: white;
    cursor: pointer; }

form label {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  width: 100%; }

form h4 {
  text-align: left; }

form textarea {
  resize: none; }

form input, form textarea, form select {
  background-color: #2b2b2b;
  border: 1px solid #4d4d4d;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  font-size: .8em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px 12px;
  transition: border-color 2s;
  width: 100%; }

form button {
  background: none;
  border-radius: 0;
  border: 2px solid #67aeff;
  color: #67aeff;
  display: block;
  font-size: 20px;
  height: 40px;
  margin: 10px auto 10px auto;
  width: 80px; }
  form button:hover {
    color: #dfdfdf;
    border-color: #dfdfdf; }

form .input-message {
  font-size: 16px; }

form input + .input-message {
  color: #e65e63;
  position: absolute;
  bottom: -28px;
  left: 12px; }

form textarea + .input-message {
  color: #e65e63;
  position: absolute;
  bottom: -24px;
  left: 12px; }

form .error {
  border-color: #e65e63;
  box-shadow: none; }

form .success {
  border-color: #c2ffd0; }

ul, ol {
  margin-left: 30px; }

ul {
  list-style: none;
  text-align: left; }
  article ul li:before {
    content: '~';
    display: inline-block;
    height: 20px;
    width: 20px; }

header {
  background: none;
  position: relative; }
  header h1 {
    font-size: calc(0.5rem + 6vmin);
    margin-top: 28px;
    text-align: left; }
  header h2 {
    font-size: calc(0.5rem + 5vmin);
    text-align: left; }
  header a {
    margin: 0 10px; }
    header a:first-of-type {
      margin-left: 0; }

code {
  font-family: consolas-std, courier, monospace;
  background-color: #dfdfdf;
  border-radius: 2px;
  color: #2b2b2b;
  padding: 0 4px;
  margin: 0 2px; }

.subsection-header {
  text-align: center;
  margin-top: 40px; }
  .subsection-header .header-icon {
    width: 38px; }
  .subsection-header h3 {
    margin-top: 10px; }
  .subsection-header:first-of-type {
    margin-top: 20px; }

.topper {
  background-color: #472247;
  background: linear-gradient(110deg, #5d2b5d 70%, #472247 70%);
  box-sizing: border-box;
  height: 2vh; }
  .topper img {
    float: right;
    width: 24px; }
  .topper:first-of-type {
    border-radius: 0 calc(8px + 1vh) 0 0; }

.fas {
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 4px; }

.hidden {
  display: none; }

.light {
  color: #7cc0ff; }

.shadow {
  -webkit-box-shadow: 8px 8px 28px -10px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 8px 8px 28px -10px rgba(0, 0, 0, 0.58);
  box-shadow: 8px 8px 28px -10px rgba(0, 0, 0, 0.58); }

nav {
  background: linear-gradient(90deg, #0057ba 50%, #0076de 100%);
  border-radius: 0 0 calc(2px + 1vh) 0;
  box-sizing: border-box;
  color: #d9ebff;
  position: absolute;
  top: 0;
  font-size: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .8px;
  height: 54px;
  width: 100%;
  z-index: 2; }
  nav .logo-nav {
    width: 46px; }
  nav .nav-btn {
    width: 24px;
    z-index: 3; }
    nav .nav-btn:hover {
      cursor: pointer; }
  nav h1, nav li {
    color: white;
    display: inline-block;
    font-size: 1rem; }
  nav h1 {
    margin: 0 0 0 12px; }
  nav #large-display {
    display: none;
    height: 100%;
    list-style: none; }
    nav #large-display a {
      text-align: center;
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      width: 8vw;
      max-width: 150px;
      border-bottom: 3px solid transparent;
      transition: background-color 0.3s ease; }
      nav #large-display a li {
        font-weight: 600;
        line-height: 82px; }
      nav #large-display a:hover {
        background: #67aeff; }
      nav #large-display a.selected {
        border-bottom: 3px solid #67aeff; }
  nav #nav-overlay {
    display: none;
    background: #00408a;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .94;
    width: 100vw;
    z-index: 2; }
    nav #nav-overlay header {
      height: 64px;
      margin-bottom: 4vh;
      padding: 10px 16px;
      text-align: right; }
    nav #nav-overlay ul {
      padding-right: 50px; }
    nav #nav-overlay li {
      display: block;
      margin-bottom: calc(20px + 2vw);
      font-size: 20px;
      font-weight: 600;
      padding: 2vw;
      text-align: right;
      border-bottom: 2px solid transparent; }
      nav #nav-overlay li:hover {
        border-bottom: 2px solid #67aeff; }

footer {
  background-color: #004696;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 10px 0px 40px -15px black;
  -moz-box-shadow: 10px 0px 40px -15px black;
  box-shadow: 10px 0px 40px -15px black; }
  footer img {
    width: 40px; }
  footer h1 {
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: .8px;
    line-height: 1em; }

section, article {
  border-radius: 0 20px 0 0;
  box-sizing: border-box; }
  section .box, article .box {
    -webkit-box-shadow: 12px 12px 38px -15px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 12px 12px 38px -15px rgba(0, 0, 0, 0.58);
    box-shadow: 12px 12px 38px -15px rgba(0, 0, 0, 0.58);
    max-width: 900px; }
  section .meta-content-container, article .meta-content-container {
    background-color: #2b2b2b; }
    section .meta-content-container p:first-of-type, article .meta-content-container p:first-of-type {
      margin-top: 0; }
  section .content-container, article .content-container {
    padding: 12px; }
    section .content-container p:last-of-type, article .content-container p:last-of-type {
      margin-bottom: 0; }
  section .img-container, article .img-container {
    padding: 12px; }
    section .img-container img, article .img-container img {
      max-width: 100%; }
  section .quote-container, article .quote-container {
    display: none; }

pre {
  margin-top: 10px; }

@media (min-width: 1px) and (max-width: 599px) {
  body {
    font-size: 1em; } }

@media (min-width: 600px) {
  body {
    font-size: 1.2em; }
  main {
    min-height: calc(100vh - 60px); }
  nav {
    height: 82px; }
    nav .logo-nav {
      width: 68px; }
    nav .nav-btn {
      width: 36px; }
    nav h1 {
      font-size: 28px; }
    nav #nav-overlay header {
      height: 72px;
      padding: 10px 36px; }
    nav #nav-overlay ul {
      padding: 0 104px; }
  footer {
    height: 60px; }
    footer img {
      margin: 4px 0;
      width: 60px; }
    footer h1 {
      font-size: 16px;
      margin: 14px; }
    footer p {
      font-size: 16px; } }

@media (min-width: 800px) {
  h1 {
    font-size: 48px; }
  section .heading-container, article .heading-container {
    height: 10vh; }
  section .content-container, section .img-container, article .content-container, article .img-container {
    box-sizing: border-box;
    display: inline-block;
    font-size: calc(14px + 0.38vw);
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    vertical-align: top;
    width: 100%; }
  nav {
    height: 82px; }
    nav .logo-nav {
      width: 68px; }
    nav #hamburger {
      width: 36px; }
    nav #nav-overlay header {
      height: 72px;
      padding: 10px 36px; }
    nav #nav-overlay ul {
      padding: 0 104px; }
  footer h1 {
    font-size: 20px; } }

@media (min-width: 1080px) {
  main {
    min-height: calc(100vh - 82px); }
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 40px; }
  section .content-container, article .content-container {
    padding: 20px; }
  section .img-container, article .img-container {
    padding: 20px; }
  nav {
    height: 82px;
    width: 100%; }
    nav .logo-nav {
      width: 68px; }
    nav #hamburger {
      width: 36px; }
    nav #hamburger {
      display: none; }
    nav #large-display {
      display: inline-block;
      margin-left: auto; }
  footer {
    height: 82px;
    max-width: 100vw; }
    footer h1 {
      font-size: 24px;
      margin-left: 24px; } }

@media (min-width: 1440px) {
  main {
    margin: 0 auto; }
  nav #nav-content-box {
    margin: 0 auto; } }

nav {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(6, 2fr) 3fr 1fr;
  justify-items: start;
  align-items: center; }
  nav header {
    display: flex;
    align-items: center;
    grid-column: 2 / span 5; }
  nav #hamburger {
    justify-self: end;
    grid-column: -3 / span 1; }

main {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(6, 2fr) 3fr 1fr; }
  main section {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr repeat(6, 2fr) 3fr 1fr; }
    main section .main-content-container {
      grid-column: 2 / -2; }
    main section #landing-page-content {
      grid-column: 2 / -2; }
  main.blog header.blog-header {
    grid-column: 2 / -1; }
  main.blog article {
    min-width: 0;
    grid-column: 1 / -1; }
  main.blog aside {
    grid-column: 1 / -1; }

footer {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(6, 2fr) 3fr 1fr;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-items: start;
  align-items: center; }
  footer header {
    grid-column: 2 / span 5;
    display: flex;
    align-items: center; }
    footer header h1 {
      margin-left: 8px; }

@media (min-width: 599px) {
  main {
    grid-template-columns: 1fr repeat(8, 2fr) 1fr; }
    main section {
      grid-template-columns: 1fr repeat(8, 2fr) 1fr; }
    main.blog article {
      grid-column: 2 / -2; }
    main aside {
      grid-column: 8 / span 4; }
  nav {
    grid-template-columns: 1fr repeat(8, 2fr) 1fr; }
  footer {
    grid-template-columns: 1fr repeat(8, 2fr) 1fr; } }

@media (min-width: 1080px) {
  main {
    grid-column: 3 / -1; }
    main.blog {
      grid-template-columns: 1fr repeat(8, 2fr) 1fr;
      grid-column: 3 / -1; }
      main.blog header.blog-header {
        grid-column: 3 / -1; }
      main.blog article {
        grid-column: 3 / -4;
        grid-row: 2; }
      main.blog aside {
        grid-column: -4 / -1;
        grid-row: 2; }
    main.aux section .main-content-container {
      grid-column: 3 / -5; }
    main section #landing-page-content {
      grid-column: 3 / -2; }
    main section .main-content-container {
      grid-column: 3 / -2; }
  footer header {
    grid-column: 3 / span 3; }
  nav header {
    grid-column: 3 / span 3;
    grid-row: 1;
    display: flex;
    align-items: baseline; }
    nav header .logo-nav {
      align-self: center; }
  nav #large-display {
    grid-column: 6 / span 6;
    grid-row: 1;
    margin-left: 0; } }

.home #landing-page-content {
  max-width: 1440px; }

.home #landing-page {
  background: #003673;
  background: linear-gradient(142deg, #003673 35%, #0076de 100%);
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding: 54px 0 0 0;
  position: relative; }
  .home #landing-page h1 {
    font-size: 10vmin;
    font-weight: 200;
    margin-top: calc(20px + 2vh);
    margin-bottom: 0;
    text-align: left; }
  .home #landing-page h4 {
    bottom: 4vh;
    position: absolute;
    text-align: left; }
  .home #landing-page #landing-page-image-container {
    text-align: center; }
  .home #landing-page .title {
    color: #ffffff;
    font-size: 14vmin; }
  .home #landing-page .logo-home {
    margin-top: calc(8px + 10vh);
    max-width: 340px;
    width: calc(80px + 18vh); }

.home section {
  margin-bottom: calc(0.5rem + 10vmin); }

.home .arrow {
  width: 30px; }

.home .small-img {
  width: 50%;
  margin-top: 20%; }

.home #arrow-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }

.home #arrow-left-enabled:hover, .home #arrow-right-enabled:hover {
  cursor: pointer; }

.home #arrow-left-enabled, .home #arrow-left-disabled {
  margin-left: 16px;
  left: 0; }

.home #arrow-right-enabled, .home #arrow-right-disabled {
  margin-right: 16px;
  right: 0; }

#contact {
  padding-bottom: 0;
  height: auto; }
  #contact #contact-desc {
    height: 90px; }
  #contact .logo-contact {
    display: none; }
  #contact h4 {
    margin-bottom: .5rem; }

@media (min-width: 1px) {
  .home #ingredients .img-container {
    display: none; } }

@media (min-width: 600px) {
  .home #landing-page {
    padding-top: 82px;
    padding-left: 0; }
    .home #landing-page h1 {
      font-size: 60px;
      letter-spacing: 2.8px;
      line-height: 90px;
      text-align: left; }
    .home #landing-page h4 {
      font-size: 24px;
      margin-top: calc(30px + 10vh); }
    .home #landing-page .title {
      text-align: center;
      font-size: 104px;
      line-height: 110px; }
    .home #landing-page .logo-home {
      width: calc(350px + 20vh);
      margin-top: calc(12vh);
      margin-bottom: 60px;
      max-width: 300px; }
  #contact .img-container {
    padding-top: 30px; }
  #contact .logo-contact {
    display: block;
    margin: 50px auto 0 auto;
    opacity: .8;
    width: 120px; } }

@media (min-width: 1080px) {
  .about section {
    margin-top: 70px; }
  .home #landing-page h1 {
    font-size: 65px;
    line-height: 90px; }
    .home #landing-page h1 .title {
      font-size: 1.4em;
      line-height: 100px; }
  .home #landing-page h4 {
    font-size: 30px; }
  .home #landing-page .logo-home {
    margin: 0;
    position: relative;
    left: 10vw;
    bottom: 10vh;
    max-width: 500px;
    width: 40vh; }
  .home #contact {
    margin-bottom: 50px; }
  .home #contact .content-container, .home #ingredients .content-container {
    padding-top: 10px;
    padding-bottom: 30px; }
  .home #arrow-left-enabled, .home #arrow-left-disabled {
    margin-left: 10px;
    padding: 20px; }
  .home #arrow-right-enabled, .home #arrow-right-disabled {
    margin-right: 10px;
    padding: 20px; } }

@media (min-width: 1440px) {
  .home #landing-page h1 {
    font-size: 80px;
    line-height: 100px; }
    .home #landing-page h1 .title {
      font-size: 1.4em;
      line-height: 140px; }
  .home #landing-page h4 {
    font-size: 35px; } }

.blog {
  padding-top: 54px;
  padding-bottom: 54px; }
  .blog article {
    margin: 0; }
  .blog .box {
    display: inline-block;
    max-width: 800px; }
  .blog .blog-header {
    margin: 9vmin 0 0 0; }
    .blog .blog-header ul {
      margin: 0; }
      .blog .blog-header ul li {
        margin-bottom: 2vh; }
    .blog .blog-header a {
      margin: 0 10px; }
      .blog .blog-header a:first-of-type {
        margin-left: 0; }
    .blog .blog-header .date {
      color: #67aeff;
      display: inline-block;
      text-align: left; }
  .blog h1 {
    font-size: calc(0.5rem + 8vmin);
    line-height: calc(0.5rem + 6vmin);
    margin-top: 28px;
    text-align: left; }
  .blog h3 {
    margin-bottom: 24px;
    position: relative; }
  .blog .sidebar {
    display: none;
    margin-top: 2vh;
    position: sticky;
    top: 2vh; }
    .blog .sidebar h3 {
      margin-top: 0;
      text-align: left; }
    .blog .sidebar li {
      padding-left: 22px; }

@media (min-width: 600px) {
  .blog {
    padding: 82px 0 64px 0; }
    .blog .blog-header {
      margin-top: 5px; }
    .blog h1 {
      margin-top: 5rem;
      margin-bottom: 3rem; } }

@media (min-width: 1080px) {
  .blog {
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 82px); }
    .blog .box {
      vertical-align: top; }
    .blog section {
      margin: 0; }
    .blog article {
      grid-row: 2; }
    .blog .sidebar {
      display: inline-block; }
      .blog .sidebar ul {
        position: sticky;
        top: 2vh; } }

.aux {
  padding-top: 54px;
  padding-bottom: 44px; }
  .aux #not-found {
    align-items: center;
    margin-top: 0; }
    .aux #not-found header {
      grid-column: 5 / span 3;
      grid-row: 1; }
    .aux #not-found div {
      grid-column: 3 / span 2;
      grid-row: 1;
      margin-top: 4vh; }
      .aux #not-found div img {
        width: 20vw; }
  .aux section:first-of-type {
    margin-top: calc(0.5rem + 10vmin); }
  .aux section {
    margin-bottom: 10vmin; }
  .aux section:last-of-type {
    margin-bottom: 0; }
  .aux #blog-operations {
    display: none; }
  .aux header {
    max-width: 900px; }
  @media (min-width: 600px) {
    .aux {
      padding: 84px 0 64px 0; } }

.index {
  padding-top: 54px; }
  .index section:first-of-type {
    margin-top: calc(0.5rem + 10vmin); }
  .index section {
    text-align: left; }
  @media (min-width: 600px) {
    .index {
      padding-top: 84px; } }
  .index header {
    max-width: 900px; }
